# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
tex-Rex_backup/
hi.py
Untitled Diagram copy.png
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints


# Documentation build
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ignore specific notebooks
tex_rex_me.ipynb
tex_rex_m.ipynb
tex_rex_out.ipynb
